<div class="row">
  <h2 class="bg-dark text-light">Educación</h2>
  <div>
    <button type="button" id="botonNueva" class="btn btn-dark mb-lg-4 " routerLink="/nuevaedu" *ngIf="isLogged">
      <i class="bi bi-plus-square"> Nueva Educación</i>
    </button>
  </div>

  <div class="card col-5 p-2 m-2" *ngFor="let Educacion of edu">
    <div class="card-header d-flex justify-content-between bg-dark border-dark text-light " >
      <h3>{{Educacion.nombreEdu}}</h3>
      <button class="btn btn-secondary" routerLink="/editEdu/{{Educacion.id}}" *ngIf="isLogged">
        <i class="bi bi-pencil-fill"></i></button>
      <button class="btn btn-danger" (click)="delete(Educacion.id)" *ngIf="isLogged">
        <i class="bi bi-trash-fill"></i></button>
    </div>
    <div class="card-body bg-secondary">
      <h5 class="card-title">{{Educacion.descripcionEdu}}</h5>
      <p class="card-text">Iniciado en el año {{Educacion.iniEduc}} y finalizado en {{Educacion.finEduc}} </p>

    </div>
  </div>
</div>
