
  <div class="row">
    <h2 class="bg-dark text-light">Experiencia Laboral</h2>
    <div>
      <button type="button" id="botonNueva" class="btn btn-dark mb-lg-4 " routerLink="/nuevaexp" *ngIf="isLogged">
        <i class="bi bi-plus-square"> Nueva Experiencia</i>
      </button>
    </div>

    <div class="card col-5 p-2 m-2" *ngFor="let Experiencia of expe">
      <div class="card-header d-flex justify-content-between bg-dark  text-light" >
        <h3>{{Experiencia.nombreE}}</h3>
        <button class="btn btn-secondary" routerLink="/editEdu/{{Experiencia.id}}" *ngIf="isLogged" >
          <i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-danger" (click)="delete(Experiencia.id)" *ngIf="isLogged">
          <i class="bi bi-trash-fill"></i></button>
      </div>
      <div class="card-body bg-secondary">
        <h5 class="card-title">{{Experiencia.descripcionE}}</h5>
        <p class="card-text">Desde el año {{Experiencia.iniExp}}  hasta {{Experiencia.finExp}} </p>

      </div>
    </div>
  </div>

