<div class="row">

  <div class="col-lg-2">
    <button type="button" id="botonNueva" class="btn btn-dark" routerLink="/nuevoskill" *ngIf="isLogged">
     <i class="bi bi-plus-square">  Nuevo Skill</i>
    </button>
  </div>


</div>
 <div class="row">
  <h2>Hard & Soft Skills</h2>
  <div class="d-flex flex-wrap">
        <tr *ngFor="let Skill of skill">
          <div class="row card-body titles">
            <div class="card-title">
    <circle-progress
      [percent]="Skill.porcentajeSkill"
      [radius]="75"
      [backgroundColor]="'white'"
      [imageSrc]="Skill.fotoSkill"
      [showImage]="true"
      [imageHeight]="50"
      [imageWidth]="50"
      [showUnits]="false"
      [showTitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#33FF8A'"
      [innerStrokeColor]="'black'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
    <td  *ngIf="isLogged">
      <button class="btn btn-secondary " routerLink="/editSkills/{{Skill.id}}">
        <i class="bi bi-pencil-fill"></i></button>
    </td>
    <td *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(Skill.id)">
        <i class="bi bi-trash-fill"></i></button>
    </td>
    </div>
    </div>
  </tr>
  </div>

  </div>

