<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
     <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="nombre">Gustavo Albino Romero</p>
      <p>Full Stack Deveveloper Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
       <h1>Acerca de mí</h1>
       <p>Un periodista independiente, un escritor en su génesis, un soñador despierto, un ser humano como tantos otros...</p>
      </span>

    </div>

  </div>
