<div class="row">
<div class="container">
  <div class="logo">
  <img src="../../../assets/logos/APLogo.png" id="logoAP">
</div>
  <div class="redes">
    <a href="https://www.linkedin.com/in/gustavoalbinoromero/"><img src="../../../assets/logos/linkedin.png" id="linkedin"></a>
    <a href="https://twitter.com/chetuta"><img src="../../../assets/logos/twitter.png " id="twitter"></a>
    <a href=""><img src="../../../assets/logos/instagram.png " id="instagram"></a>
    <a href="https://github.com/Tuta1974"><img src="../../../assets/logos/github.png " id="github"></a>
    <a href="https://www.facebook.com/ComunicarteCommunityManager"><img src="../../../assets/logos/facebook.png " id="facebook"></a>
    <button type="button" class="btn btn-outline-light">INGRESO</button>
  </div>
</div>
